:root {
    -webkit-text-fill-color: aliceblue;
}
h1 {
   color:var(-webkit-text-fill-color);

}
li{
    color:var(-webkit-text-fill-color);
    size: 5cm;
}
a{
    color:var(-webkit-text-fill-color);
}
body {
    background-image: url(./logo.jpg);
    background-size: 100%;
}
.first {
    text-shadow: grid-template-columns: repeat(12, 1fr);
    ;
}