table{
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
}
td,th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
th{
    color: #ffffff;
    background-color: #04aa6d;
    font-family: Arial;
    font-size: 15pt;
}
td{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
}
tr:hover{
    background-color: #ddd;
}
h1,h2,h3{
    font-family: 'Times New Roman', Times, serif;
}
h3{
    font-size: 25pt;
}
h2{
    font-size: 30pt;
}
img{
    opacity: 50%;
    width: 30%;
}
img:hover{
    opacity: 100%;
}
.phan1{
    font-size: 18pt;
    background-color: #ddd;
    width: auto;
    border-style: groove;
    border-width: medium;
    text-overflow: inherit;
}
.p1{
    margin-left: 5px;
}
.p2{
    color: #ffffff;
    padding: 100px 100px;
    width: 70px;
    height: 70px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 12pt;
}
.phan2{
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}
ul.b{
    list-style-type: square;
    color: blue;
}
.phan3{
    font-size: 20pt;
    font-family: 'Times New Roman', Times, serif;
}